@model List<CompetitorViewModel>

@{
    ViewBag.Title = "Competitor Management";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Competitor Management</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-push-6 text-right">
            <a href="@Url.Action("AddCompetitor")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Add Competitor
            </a>
        </div>
    </div>
    <div class="separator"></div>
    @if (Model.Count == 0)
    {
        <h4>No Competitors found.</h4>
    }
    else
    {
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <ul class="list-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <li class="list-group-item list-group-item-hover competitor-item text-center @(Model[i].IsActive ? "" : "bg-danger")">
                            <input type="hidden" class="hidden-competitor-id" value="@Model[i].CompetitorId" />
                            @Html.DisplayFor(model => model[i].FormattedName)
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>