@model List<EventViewModel>

@if (Model.Any())
{
    <table class="table">
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.IconFor(model => model[i].IconFileName, IconSize.Small)
                        <a href="@Url.Action("Records", new { olympicEventId = Model[i].EventId })" class="btn btn-default">
                            @Html.DisplayFor(model => model[i].EventName)
                            &raquo;
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <em>No events to show.</em>
}