<div id="toastMessage" class="toast">
    <div class="row">
        <div id="messageText" class="col-xs-12 col-md-11"></div>
        <div class="col-md-1 hidden-xs hidden-sm text-right close-icon-container">
            <span class="glyphicon glyphicon-remove close-icon"></span>
        </div>
    </div>
</div>