#contextMenu {
    display: none;
}

    #contextMenu .template {
        display: none;
    }

    #contextMenu a:hover {
        color: white !important;
        background-color: #337ab7 !important;
    }