body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-upload .file-name {
    padding-left: 10px;
    font-size: 1.2em;
}

.event-icon {
    width: 64px;
    height: 64px;
}

.event-icon-small {
    width: 32px;
    height: 32px;
}

.separator {
    height: 5px;
}

.list-group-item-hover:hover {
    background-color: #f5f5f5;
}

.list-group-item.bg-danger {
    background-color: #f2dede
}

.list-group-item-hover.bg-danger:hover {
    background-color: #f0cccc;
}

textarea.form-control {
    min-width: 100%;
    min-height: 10em;
}

.btn-details {
    text-align: left;
}

.btn-details .row{
    line-height: 2em;
}

.jumbotron img.logo {
    max-width: 250px;
}

@media (min-width: 768px) {
    .jumbotron img.logo {
        max-width: 300px;
    }
}
@media (min-width: 992px) {
    .jumbotron img.logo {
        max-width: 400px;
    }
}
@media (min-width: 1200px) {
    .jumbotron img.logo {
        max-width: 500px;
    }
}