body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-upload .file-name {
    padding-left: 10px;
    font-size: 1.2em;
}

.event-icon {
    width: 64px;
    height: 64px;
}

.event-icon-small {
    width: 32px;
    height: 32px;
}

.separator {
    height: 5px;
}

.list-group-item-hover:hover {
    background-color: #f5f5f5;
}

.list-group-item.bg-danger {
    background-color: #f2dede
}

.list-group-item-hover.bg-danger:hover {
    background-color: #f0cccc;
}

textarea.form-control {
    min-width: 100%;
    min-height: 10em;
}

.jumbotron img.logo {
    max-width: 250px;
}

@media (min-width: 768px) {
    .jumbotron img.logo {
        max-width: 300px;
    }
}
@media (min-width: 992px) {
    .jumbotron img.logo {
        max-width: 400px;
    }
}
@media (min-width: 1200px) {
    .jumbotron img.logo {
        max-width: 500px;
    }
}

.col-btn {
    padding-left: 20px;
    padding-right: 20px;
}

.non-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.non-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.non-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.non-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.non-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.non-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.non-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-details, .non-btn-details {
    text-align: left;
}

.btn-details .row, .non-btn-details .row {
    line-height: 2.8em;
}